In [238]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from tqdm import tqdm
from gensim.models import Word2Vec
import spacy; from spacy.lang.en import English; nlp = English()
from utils import *

In [239]:
data = getData()

/home/pranav_pro/SchoolSystem/models/essay/utils.py:6: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  data['illegible']=data.essay.str.contains('(\?\?\?|illegible|not legible)')

In [240]:
data.describe()

,essay_id,essay_set,rater1_domain1,rater2_domain1,rater3_domain1,domain1_score,rater1_domain2,rater2_domain2,domain2_score,rater1_trait1,...,rater2_trait3,rater2_trait4,rater2_trait5,rater2_trait6,rater3_trait1,rater3_trait2,rater3_trait3,rater3_trait4,rater3_trait5,rater3_trait6
count,12701.000000,12701.000000,12701.000000,12701.000000,128.000000,12701.000000,1799.000000,1799.000000,1799.000000,2055.000000,...,2055.000000,2055.000000,722.000000,722.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
mean,10146.245020,4.129832,4.057791,4.068341,37.828125,6.635226,3.334074,3.330739,3.334074,2.504136,...,2.708029,2.773723,3.778393,3.590028,3.945312,3.890625,4.078125,3.992188,3.843750,3.617188
std,6266.038381,2.123600,4.205748,4.259040,5.240829,8.945280,0.729263,0.726967,0.729263,1.229647,...,1.168146,1.061814,0.689271,0.693389,0.643668,0.630390,0.622535,0.509687,0.538845,0.603417
min,1.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,2.000000,2.000000,2.000000,3.000000,2.000000,2.000000
25%,4372.000000,2.000000,2.000000,2.000000,36.000000,2.000000,3.000000,3.000000,3.000000,2.000000,...,2.000000,2.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000
50%,9941.000000,4.000000,3.000000,3.000000,40.000000,3.000000,3.000000,3.000000,3.000000,2.000000,...,2.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
75%,15513.000000,6.000000,4.000000,4.000000,40.000000,8.000000,4.000000,4.000000,4.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000
max,21633.000000,8.000000,30.000000,30.000000,50.000000,60.000000,4.000000,4.000000,4.000000,6.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,5.000000

In [241]:
main = data[["essay_id", "essay_set", "essay", "domain2_score"]]

In [242]:
main["score"] = data['domain1_score']
main.score=main.apply(lambda x: x['score'] if x['essay_set']!=2 else x['score']+x['domain2_score'], axis=1)
main.score=main.apply(lambda x: x['score'] if x['essay_set']!=2 and x['essay_set']!=1 else x['score']-2, axis=1)
main = main.drop(["domain2_score"], axis=1)
mul = np.array([12,15,40,40,30,30,4,2])/120
main['score'] = main.apply(lambda row: row['score']*mul[row['essay_set']-1], axis=1)

/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/pandas/core/generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [243]:
main.groupby('essay_set').describe()

          essay_id                                                        \
             count          mean         std      min       25%      50%
essay_set
1           1782.0    894.752525  515.950660      1.0    449.25    894.5
2           1799.0   3877.747638  519.797850   2978.0   3427.50   3878.0
3           1699.0   6842.185403  499.394444   5978.0   6409.50   6842.0
4           1761.0   9750.014764  513.547831   8863.0   9305.00   9751.0
5           1805.0  12729.000000  521.202936  11827.0  12278.00  12729.0
6           1800.0  15733.500000  519.759560  14834.0  15283.75  15733.5
7           1333.0  18696.284321  499.403100  17834.0  18259.00  18705.0
8            722.0  21168.975069  262.783588  20716.0  20940.50  21163.5

                               score                                          \
                75%      max   count      mean       std       min       25%
essay_set
1           1341.75   1787.0  1782.0  0.652694  0.153788  0.000000  0.600000
2           4327.50   4777.0  1799.0  0.593663  0.173149  0.000000  0.500000
3           7273.50   7708.0  1699.0  0.616441  0.271374  0.000000  0.333333
4          10194.00  10642.0  1761.0  0.476245  0.313552  0.000000  0.333333
5          13180.00  13631.0  1805.0  0.602216  0.242705  0.000000  0.500000
6          16183.25  16633.0  1800.0  0.680000  0.242658  0.000000  0.500000
7          19124.00  19563.0  1333.0  0.533858  0.153664  0.066667  0.433333
8          21396.25  21633.0   722.0  0.615974  0.095887  0.166667  0.550000


                50%       75%  max
essay_set
1          0.600000  0.800000  1.0
2          0.625000  0.750000  1.0
3          0.666667  0.666667  1.0
4          0.333333  0.666667  1.0
5          0.500000  0.750000  1.0
6          0.750000  0.750000  1.0
7          0.533333  0.633333  0.8
8          0.616667  0.666667  1.0

In [244]:
w2vModel = Word2Vec.load('Essayw2v.model')
vocab = set(w2vModel.wv.vocab)
dic = w2vModel.wv
w2v = dict(zip(w2vModel.wv.index2word, w2vModel.wv.syn0))

/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:4: DeprecationWarning: Call to deprecated `syn0` (Attribute will be removed in 4.0.0, use self.vectors instead).
  after removing the cwd from sys.path.

In [245]:
def convert2tokens(essay):
    essay = basicClean(essay)
    essay = replaceNER(essay)
    essay = nlp(essay)
#     essay = [token.text for token in essay if ((not token.is_punct) and (not token.is_stop))]
    essay = [token.text for token in essay if (not token.is_punct)]
    return essay

In [246]:
tqdm.pandas()
main['tokenize'] = main['essay'].progress_apply(lambda x: convert2tokens(x))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 12701/12701 [00:15<00:00, 825.83it/s]

In [247]:
tokenizer = Tokenizer(nb_words=len(vocab))
tokenizer.fit_on_texts(main['tokenize'])
main['sequence'] = tokenizer.texts_to_sequences(main['tokenize'])
with open('tokenizer.pickle', 'wb') as handle:
    pickle.dump(tokenizer, handle, protocol=pickle.HIGHEST_PROTOCOL)
word_index = tokenizer.word_index
print('Found %s unique tokens.' % len(word_index))

/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/keras_preprocessing/text.py:178: UserWarning: The `nb_words` argument in `Tokenizer` has been renamed `num_words`.
  warnings.warn('The `nb_words` argument in `Tokenizer` '

Found 42443 unique tokens.

In [248]:
# MaxSequence = max([len(seq) for seq in data['sequence']])
MaxSequence = 1200
tqdm.pandas()
main['pad_seq']=list(pad_sequences(main['sequence'], maxlen=MaxSequence))
# data['padSequence'] = data['sequence'].progress_apply(lambda seq: pad_sequences([seq],maxlen=MaxSequence))

In [249]:
data.columns

Index(['essay_id', 'essay_set', 'essay', 'rater1_domain1', 'rater2_domain1',
       'rater3_domain1', 'domain1_score', 'rater1_domain2', 'rater2_domain2',
       'domain2_score', 'rater1_trait1', 'rater1_trait2', 'rater1_trait3',
       'rater1_trait4', 'rater1_trait5', 'rater1_trait6', 'rater2_trait1',
       'rater2_trait2', 'rater2_trait3', 'rater2_trait4', 'rater2_trait5',
       'rater2_trait6', 'rater3_trait1', 'rater3_trait2', 'rater3_trait3',
       'rater3_trait4', 'rater3_trait5', 'rater3_trait6'],
      dtype='object')

In [270]:
p7 = data.loc[data['essay_set']==7]
p8 = data.loc[data['essay_set']==8]
p7["Essay ID"] = p7['essay_id']
p8["Essay ID"] = p8['essay_id']
p7['Content'] = p7['rater1_trait1']/3
p7['Organization'] = p7['rater1_trait2']/3
p7['Language'] = p7['rater1_trait3']/3
p7['Conventions'] = p7['rater1_trait4']/3
p7 = p7[["Essay ID", "Content", "Organization", "Language", "Conventions"]]
p8['Content'] = p8['rater1_trait1']-1/5
p8['Organization'] = p8['rater1_trait2']-1/5
p8['Word Choice'] = p8['rater1_trait4']-1/5
p8['Sentence Fluency'] = p8['rater1_trait5']-1/5
p8['Conventions'] = p8['rater1_trait6']-1/5
p8 = p8[["Essay ID", "Content", "Organization", "Word Choice", "Sentence Fluency", 'Conventions']]
# data['Organization'] = data['rater1_trait1']

/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/pranav_pro/SchoolSystem/.venv/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [273]:
new = main
prompt=[]
for j in range(6):
    i=j+1
    print(i)
    prompt.append(pd.read_csv('./Prompt-'+str(i)+".csv", sep=',', encoding = "latin"))
    print(prompt[j].describe())
#     print(prompt[j].columns)
prompt[0]["Essay ID"]=prompt[0]["EssayID"]
for i in [1,2]:
    for c in prompt[i].columns:
        if c!="EssayID" and c!="Essay ID":
            prompt[i][c]=prompt[i][c]-1/5
prompt.append(p7)
prompt.append(p8)
for j in range(8):
    temp = pd.merge(new,prompt[j],left_on="essay_id", right_on="Essay ID", how="left")
    del temp["Essay ID"]
    for col in (c for c in new.columns if c in prompt[j].columns):
        print(str(col + '_y'))
        temp[col] = temp.apply(lambda x: x[col + '_x'] if x[col + '_x']==x[col + '_x'] else x[col + '_y'], axis=1)
#         temp[col] = temp[str(col + '_y')]
        del temp[col + '_x'], temp[col + '_y'], 
    new=temp
del temp["EssayID"]
new.columns

1
           EssayID      Content  Organization  Word Choice  Sentence Fluency  \
count  1783.000000  1783.000000   1783.000000  1783.000000       1783.000000
mean    894.310151     3.846887      3.737521     3.679192          3.762759
std     516.143993     0.991320      0.950858     0.966469          0.968832
min       1.000000     1.000000      1.000000     1.000000          1.000000
25%     448.500000     3.000000      3.000000     3.000000          3.000000
50%     894.000000     4.000000      4.000000     4.000000          4.000000
75%    1341.500000     4.000000      4.000000     4.000000          4.000000
max    1787.000000     6.000000      6.000000     6.000000          6.000000

       Conventions
count  1783.000000
mean      3.737521
std       0.948494
min       1.000000
25%       3.000000
50%       4.000000
75%       4.000000
max       6.000000
2
          Essay ID      Content  Organization  Word Choice  Sentence Fluency  \
count  1800.000000  1800.000000   1800.000000  1800.000000       1800.000000
mean   3877.494444     3.220000      3.043333     3.111667          3.332778
std     519.754400     1.165771      1.128887     1.120965          1.050071
min    2978.000000     1.000000      1.000000     1.000000          1.000000
25%    3427.750000     2.000000      2.000000     2.000000          3.000000
50%    3877.500000     3.000000      3.000000     3.000000          3.000000
75%    4327.250000     4.000000      4.000000     4.000000          4.000000
max    4777.000000     6.000000      6.000000     6.000000          6.000000

       Conventions
count  1800.000000
mean      3.132778
std       1.085368
min       1.000000
25%       2.000000
50%       3.000000
75%       4.000000
max       6.000000
3
          Essay ID      Content  Prompt Adherence     Language  Narrativity
count  1726.000000  1726.000000       1726.000000  1726.000000  1726.000000
mean   6843.016222     1.434531          1.478563     1.472190     1.440904
std     499.809908     0.838944          0.876325     0.846533     0.893608
min    5978.000000     0.000000          0.000000     0.000000     0.000000
25%    6410.250000     1.000000          1.000000     1.000000     1.000000
50%    6842.500000     2.000000          2.000000     2.000000     1.000000
75%    7275.750000     2.000000          2.000000     2.000000     2.000000
max    7708.000000     3.000000          3.000000     3.000000     3.000000
4
           Essay ID      Content  Prompt Adherence     Language  Narrativity
count   1772.000000  1772.000000       1772.000000  1772.000000  1772.000000
mean    9751.358916     1.108916          1.099887     1.059819     1.209932
std      513.750550     0.970479          0.943736     0.876205     0.990612
min     8863.000000     0.000000          0.000000     0.000000     0.000000
25%     9306.750000     0.000000          0.000000     0.000000     0.000000
50%     9751.500000     1.000000          1.000000     1.000000     1.000000
75%    10196.250000     2.000000          2.000000     2.000000     2.000000
max    10642.000000     3.000000          3.000000     3.000000     3.000000
5
           Essay ID      Content  Prompt Adherence     Language  Narrativity
count   1805.000000  1805.000000       1805.000000  1805.000000  1805.000000
mean   12729.000000     1.884211          2.034349     2.236565     2.029363
std      521.202936     1.001883          1.056043     0.938812     0.903137
min    11827.000000     0.000000          0.000000     0.000000     0.000000
25%    12278.000000     1.000000          1.000000     2.000000     2.000000
50%    12729.000000     2.000000          2.000000     2.000000     2.000000
75%    13180.000000     3.000000          3.000000     3.000000     3.000000
max    13631.000000     4.000000          4.000000     4.000000     4.000000
6
          Essay ID      Content  Prompt Adherence     Language  Narrativity
count   1800.00000  1800.000000       1800.000000  1800.000000  1800.000000
mean   15733.50000     1.845556          1.749444     2.048889     1.945556
std      519.75956     1.111130          0.993027     0.919705     0.936169
min    14834.00000     0.000000          0.000000     0.000000     0.000000
25%    15283.75000     1.000000          1.000000     2.000000     1.000000
50%    15733.50000     2.000000          2.000000     2.000000     2.000000
75%    16183.25000     3.000000          2.000000     3.000000     3.000000
max    16633.00000     4.000000          4.000000     4.000000     4.000000
Content_y
Organization_y
Word Choice_y
Sentence Fluency_y
Conventions_y
Content_y
Prompt Adherence_y
Language_y
Narrativity_y
Content_y
Prompt Adherence_y
Language_y
Narrativity_y
Content_y
Prompt Adherence_y
Language_y
Narrativity_y
Content_y
Organization_y
Conventions_y
Language_y
Content_y
Word Choice_y
Sentence Fluency_y
Organization_y
Conventions_y
Content_y

Index(['essay_id', 'essay_set', 'essay', 'score', 'tokenize', 'sequence',
       'pad_seq', 'Prompt Adherence', 'Narrativity', 'Language', 'Word Choice',
       'Sentence Fluency', 'Organization', 'Conventions', 'Content'],
      dtype='object')

In [252]:
new.describe()

,essay_id,essay_set,score,Prompt Adherence,Narrativity,Language,Word Choice,Sentence Fluency,Organization,Conventions,Content
count,12702.000000,12702.000000,12702.000000,7065.000000,7065.000000,8398.000000,4303.000000,4303.000000,5636.000000,5636.000000,12701.000000
mean,10145.789088,4.129665,0.597187,1.596461,1.664119,1.757085,3.472926,3.577736,3.105926,3.152058,2.276356
std,6266.002399,2.123601,0.233829,1.030571,0.992466,0.964318,1.038384,0.989455,1.155502,1.092094,1.388479
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,4371.250000,2.000000,0.500000,1.000000,1.000000,1.000000,3.000000,3.000000,2.000000,2.000000,1.000000
50%,9940.500000,4.000000,0.625000,2.000000,2.000000,2.000000,4.000000,4.000000,3.000000,3.000000,2.000000
75%,15512.750000,6.000000,0.750000,2.000000,2.000000,2.000000,4.000000,4.000000,4.000000,4.000000,3.000000
max,21633.000000,8.000000,1.000000,4.000000,4.000000,4.000000,6.000000,6.000000,6.000000,6.000000,6.000000

In [259]:
new = new[new["Content"]==new["Content"]]
new.columns

Index(['essay_id', 'essay_set', 'essay', 'score', 'tokenize', 'sequence',
       'pad_seq', 'Prompt Adherence', 'Narrativity', 'Language', 'Word Choice',
       'Sentence Fluency', 'Organization', 'Conventions', 'Content'],
      dtype='object')

In [260]:
temp = new
del temp["essay_set"], temp["essay"], temp["tokenize"], temp["sequence"], temp["pad_seq"]
temp.to_csv("./essay_scores.csv", sep=',')

In [269]:
temp["Content"]-2

0        2.0
1        2.0
2        1.0
3        3.0
4        2.0
5        1.0
6        3.0
7        4.0
8        3.0
9        1.0
10       3.0
11       2.0
12       0.0
13       0.0
14       1.0
15       4.0
16       2.0
17       1.0
18      -1.0
19       1.0
20       3.0
21      -1.0
22       2.0
23       2.0
24       1.0
25       1.0
26      -1.0
27       1.0
28       2.0
29       2.0
        ...
12672    2.0
12673    2.0
12674    2.0
12675    1.0
12676    1.0
12677    3.0
12678    2.0
12679    2.0
12680    2.0
12681    1.0
12682    2.0
12683    3.0
12684    2.0
12685    2.0
12686    2.0
12687    2.0
12688    2.0
12689    1.0
12690    2.0
12691    2.0
12692   -1.0
12693    2.0
12694    3.0
12695    2.0
12696    1.0
12697    2.0
12698    1.0
12699    2.0
12700    2.0
12701    2.0
Name: Content, Length: 12701, dtype: float64